<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }}>
        <link rel="stylesheet" href="../static/css/login.css">
        <title>Password restore</title>
    </head>
    <body>
        <div class="container">
            <form action="/try_restore_password", method="post">
                <h1>Password restore</h1>
                <input type="text" placeholder="Login" name="login">
                <input type="text" placeholder="Favorite word" name="word">
                <input type="submit" value="Enter">
            </form>

            <a href="/reg">
                <div class="reg_button">Sign up</div>
            </a>
        </div>
    </body>
</html>