<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{ url_for('static', filename='css/register.css') }}>
        <link rel="stylesheet" href="../static/css/register.css">
        <title>Register</title>
    </head>
    <body>
        <div class="container">
            <form action="/try_reg" method="post">
                <h1>Register</h1>
                <input type="text" placeholder="Login" name="login">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Password repeat" name="password-repeat">
                <input type="submit" value="Create account">
                {% if error %}
                    <p class="error-msg">{{ error }}</p>
                {% endif %}
            </form>
            <div class="log_button">
                <a href="/login">Sign in</a>
            </div>
        </div>
    </body>
</html>